.jumbotron {
  padding-top: 6rem;
  background-color: #0d6efd;
  font-family: 'algerian';
}

#projects {
  background-color: #0d6efd;
}

section {
  padding-top: 5rem;
}
.Aboutme {
  font-family: algerian;
}
